html {
    height: 100%;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;

    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #001603;
}

h1, h2, h3, h4, h5 {
    font-family: 'Source Code Pro', monospace;
}

a {
    color: #000;
}

code {
    background-color: transparent;
    border: 1px solid rgba(50, 250, 50, 0.5);
    color: rgba(50, 250, 50, 0.5);
}

.content {
    margin: 30px;
}

.content .jumbotron {
    border-radius: 0;
    position: relative;
    z-index: 99;
    padding: 60px;
    background-color: rgba(0, 0, 0, .6);
    color: rgba(255, 255, 255, .7);
}

.content .jumbotron .row {
    margin-bottom: 30px;
}

.content .jumbotron .row h4 {
    margin-top: 50px;
    font-size: 18px;
}

.content .jumbotron p,
.content .jumbotron label,
.content .jumbotron ul,
.content .jumbotron code {
    font-size: 14px;
    line-height: 1.8;
}

.content .jumbotron p code {
    display: inline-block;
    line-height: 1.4;
    padding: 0 2px;
}

.btn {
    background-color: rgba(50, 250, 50, 0.2);
}

.btn:hover {
    color: rgba(255, 255, 255, 0.2);
}