<!doctype html>
<html>
<head>
    <title>Maze Runner</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.bgterminal.min.js"></script>
    <script type="text/javascript" src="scripts/ga.js"></script>
    <script type="text/javascript" src="scripts/welcome.js"></script>
    <script type="text/javascript" src="scripts/timi.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="shortcut icon" href="/assets/timi.png">
</head>
<body>
<div id="terminal"></div>
<div class="timi"></div>
<div class="content welcome">
    <div class="jumbotron text-center">
        <div class="row">
            <h1>Welcome to the maze!</h1>
        </div>
        <div class="maze-id-container">
            Your mazeId is: <code class="maze-id"></code>.
            You should use it when making API calls.
        </div>

        <div class="documentation text-left">
            <div class="row">
                <div class="col-xs-12">
                    <h2>REST APIs</h2>
                </div>

                <div class="col-xs-12">
                    <h4>/maze/:mazeId/room/:roomId/describe</h4>
                    <p>Given a <code>roomId</code>, the result will be an object that contains the room description.<br>
                        The quest property will only appear if the room is part of a quest.
                        Until the quest is complete, the hashLetter property will not be provided.<br>
                        You can only do this operation if you are currently inside the <code>roomId</code>.</p>
                    <label>Return</label>
                    <code>
    {
        description: {
            hashLetter: string,
            quest: {
                questId: string,
                itemId: string,
                description: string
            }
        }
    }
                    </code>
                </div>

                <div class="col-xs-12">
                    <h4>/maze/:mazeId/room/:roomId/exits</h4>
                    <p>Given a roomId, the result will be an object that contains the possible exits from the room.
                        0 = N, 90 = E, 180 = S, 270 = W. <br>
                        You can only do this operation if you are currently inside the <code>roomId</code>.</p>
                    <label>Return</label>
                    <code>
    {
        exits: [0, 90, 180, 270]
    }
                    </code>
                </div>

                <div class="col-xs-12">
                    <h4>/maze/:mazeId/room/:roomId/exit/:direction</h4>
                    <p>Given a <code>roomId</code> and the <code>direction</code> to exit, the result will be the next roomId.<br>
                        You can only do this operation if you are currently inside the <code>roomId</code>.</p>
                    <label>Return</label>
                    <code>
    {
        newRoomId: string
    }
                    </code>
                </div>

                <div class="col-xs-12">
                    <h4>/maze/:mazeId/validate/:hash</h4>
                    <p>Given the <code>hash</code>, the result will be if the hash is correct or not.
                        <span class="note">Be careful! There is a limit to the number of times you can validate!</span></p>
                    <label>Return</label>
                    <code>
    {
        validated: boolean
    }
                    </code>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>