.idea
.DS_Store
setenv.sh
.temp-playbooks/*
.temp-roles/*
ansible.all-vars
*.retry
# if running locally we need a lightly different one than the one in the repo ...
# so in dev mode we should override this file 
inventories/ec2.ini
