files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_bring_db_from_bucket.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            /usr/bin/aws s3 cp  s3://maze-dev/dungeon.db /var/app/current/dungeon.db --region eu-central-1
            /bin/chown nodejs:nodejs /var/app/current/dungeon.db